body {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.box {
  max-width: 1280px;
  margin: auto;
  text-align: left;
}

.box img {
  width: 400px;
}

.header {
    display: flex;
    justify-content: space-around;
}